body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.message {
  width: 15em;
  border: 1px solid #333;
  padding: 8px 12px;
}

.messageList {
  width: 16.55em;
  border: 20px solid #456;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.addMessage {
  padding: 10px;
  margin: auto;
}

input[type=text]{
  resize: vertical;
}

input[id=Name]{
  margin: 10px;
}

input[id=Message] {
  width: 20em;
  padding: 12px 10px;
  margin: 8px 15px;
  box-sizing: border-box;
}