body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.message {
  width: 15em;
  border: 1px solid #333;
  padding: 8px 12px;
}

.messageList {
  width: 16.55em;
  border: 20px solid #6395F2;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.submissionBox {
  border: 20px solid #0A337F;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 20px;
  max-width: 500px;
}

.addMessage {
  padding: 10px;
  margin: auto;
}

input[type=text]{
  resize: vertical;
}

input[id=name]{
  margin: 10px;
  box-sizing: border-box;
}

input[id=message] {
  width: 30em;
  padding: 12px 10px;
  margin: 8px 15px;
  box-sizing: border-box;
}

/* new css styling */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #091834;
  text-align: right;
  border: 1px solid #091834;
  height: 40px;
}

li {
  display: inline;
  text-align: justify;
  
}

li a {
  display: block inline;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: justify;
  border: 5px;
  font-size: 1.7em;
}

li a:hover {
  background-color: #235DC7;
}

h1 {
  padding: 10px 16px;
  font-size: 2.0em;
}

h4 {
  padding: 2.5px 2.5px;
  text-align: center;
}

p{
  text-align: center;
}

form{
  padding: 14px 16px;
  position: relative;
  text-align: center;

}